.punch{
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-top:5rem; */
    margin-left: 2rem;
}
.punch>*{
    margin-left: 1rem;
}
.circle{

    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    
}
.punch-btn{
    display: flex;
    flex-direction: column;
}

