.App {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
/* 
.modal-component {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0; 
    
} */
